@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-progress {
        animation: progress 1.5s infinite linear;
        width: 100%;
    }

    @keyframes progress {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }
}